.header {
  background-image: url("./assets/words.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.tool-header {
  background-image: url("./assets/gears.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.bg-header {
  background-color: rgb(99, 0, 0);
}

.btn-bg {
  background-color: rgb(81, 234, 165);
  color: blue;
}

.form-bg {
  background-color: rgb(212, 212, 212) !important;
}